<h1>Listing comments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ctime</th>
    <th>Message</th>
    <th>Forum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.ctime %></td>
    <td><%= comment.message %></td>
    <td><%= comment.forum_id %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
