<!DOCTYPE html>
<html>
<head>
  <title>企业职工人事管理信息系统</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

	<div id="banner">
		<%= image_tag("logo.png") %> 
		<%= @page_title || "企业职工人事管理信息系统" %> 
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				
				<% if session[:user_id] and session[:user_name] %>
					<% if User.find(session[:user_id]).identity == "normal" %>
						<li>您好！尊敬的普通用户<%= session[:user_name] %></li>
					<% else %>
						<li>您好！尊敬的管理员<%= session[:user_name] %></li>
						<li><%= button_to '用户列表', users_path, method: :get %></li>
					<% end %>

					<%= button_to '修改密码', edit_user_path(id: session[:user_id]), method: :get%>
					<%= button_to '登出', logout_path, method: :delete%>
					<li><%= button_to '统计信息', admin_path, method: :get %></li>
				<li><%= button_to '员工信息', employees_path, method: :get %></li>
				<li><%= button_to '部门信息', departments_path, method: :get %></li>
				<li><%= button_to '公司讨论群', forums_path, method: :get %></li>
				<% else %>
					<li> 您当前处于游客状态，将不能进行任何操作，请注册登陆</li>
					<li><%= button_to '注册', new_user_path, method: :get %>

						<%= button_to '登陆', login_path, method: :get %>
					</li>
				<% end %>
			</ul>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
